body,
div,
dl,
dt,
dd,
ul,
li,
input,
form,
a,
p,
textarea {
  margin: 0;
  padding: 0;
}
.theme-icon {
  color: #1296db;
}
body {
  width: 100%;
  font-size: 14px;
  color: #333;
  background: #fbfbfb;
  font-family: '微软雅黑', tahoma, arial, 'Hiragino Sans GB', "宋体", sans-serif;
  overflow: auto;
}
html ::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}
html ::-webkit-scrollbar-thumb {
  background-color: #bababa;
  background-clip: padding-box;
  min-height: 28px;
  border-radius: 4px;
}
html ::-webkit-scrollbar-track-piece {
  background-color: #e8e8e8;
}
.fixed {
  position: fixed;
  top: 20px;
}
#bg {
  position: absolute;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  width: 100%;
  height: 248px;
  justify-content: center;
  overflow: hidden;
  z-index: -100;
  background-color: #293952;
}
#container {
  position: relative;
  max-width: 1200px;
  padding: 0 50px;
  margin: 0 auto;
  box-sizing: border-box;
}
#container .hide {
  display: none;
}
#container .no-tool-bar {
  width: 100%;
  padding: 0;
  border-right: 0;
}
#container .main-right {
  padding-right: 0;
  padding-left: 40px;
  border-right: none;
  border-left: 1px solid #eee;
}
#container .toolbar-left {
  padding-left: 0;
  padding-right: 40px;
}
#header {
  min-height: 248px;
  color: #fff;
}
.header-top {
  overflow: hidden;
}
.header-site {
  float: left;
  margin: 16px 0;
}
.header-site .header-site-item {
  padding: 10px 18px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}
.header-site .header-site-item:hover {
  color: #1296db;
}
.header-site .header-site-item .iconfont {
  font-size: 28px;
}
.header-nav {
  float: right;
  margin: 20px 0;
}
.nav-item {
  position: relative;
  padding: 10px 18px;
  color: #fff;
  text-decoration: none;
}
.nav-item .nav-item-bottom {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  top: 39px;
  height: 2px;
  width: 100%;
  background-color: #fff;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
}
.nav-item .focus {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.header-desc {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
}
.header-desc h1 {
  margin: 20px 0;
}
.header-desc .header-desc-right {
  display: none;
  margin-top: 10px;
}
.header-desc h1 {
  font-weight: normal;
  font-size: 32px;
}
.header-desc h2 {
  margin-top: 20px;
  font-weight: normal;
  font-size: 16px;
}
#content {
  padding: 20px 0 60px 0;
  font-size: 0;
}
#main {
  display: inline-block;
  box-sizing: border-box;
  width: 75%;
  padding-right: 40px;
  padding-bottom: 20px;
  border-right: 1px solid #eee;
  font-size: 14px;
  vertical-align: top;
}
#main .post {
  padding: 30px 10px;
  border-bottom: 1px solid #ccc;
}
#main .post-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
}
#main .post-title a {
  color: #333;
  font-weight: normal;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
#main .post-title a:hover {
  color: #1296db;
}
#main .post-meta {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #999;
}
#main .post-meta-c {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  margin-bottom: 20px;
  color: #999;
  justify-content: space-between;
  align-items: center;
}
#main .post-meta-c .post-meta-l {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  align-items: center;
}
#main .post-date {
  font-size: 0;
}
#main .post-date i {
  margin-right: 4px;
}
#main .post-date span {
  font-size: 14px;
}
#main .post-category-item {
  -webkit-display: inline-flex;
  -moz-display: inline-flex;
  -ms-display: inline-flex;
  display: inline-flex;
  align-items: center;
}
#main .post-category-item .iconfont {
  color: #999;
}
#main .post-category-item a {
  margin-left: 4px;
  color: #999;
  text-decoration: none;
}
#main .post-category-item a:hover {
  color: #1296db;
}
#main .post-meta-line {
  margin: 0 6px;
  font-size: 18px;
}
#main .post-article-footer {
  margin-top: 20px;
  overflow: auto;
}
#main .post-tags {
  float: left;
  padding-top: 6px;
}
#main .post-tags-item {
  -webkit-display: inline-flex;
  -moz-display: inline-flex;
  -ms-display: inline-flex;
  display: inline-flex;
  align-items: center;
  margin-right: 16px;
}
#main .post-tags-item .iconfont {
  color: #999;
}
#main .post-tags-item a {
  margin-left: 4px;
  color: #999;
  text-decoration: none;
}
#main .post-tags-item a:hover {
  color: #1296db;
}
#main .post-readmore {
  float: right;
  margin-right: 6px;
}
#main .post-readmore a {
  display: inline-block;
  height: 30px;
  padding: 0 14px;
  line-height: 30px;
  border: 1px solid #ccc;
  border-radius: 15px;
  color: #666;
  text-decoration: none;
  transition: all 0.3s;
}
#main .post-readmore a:hover {
  border: 1px solid #1296db;
  color: #1296db;
}
#main #page-list {
  margin-top: 50px;
  text-align: center;
}
#main #page-list a {
  display: inline-block;
  width: 50px;
  height: 30px;
  margin: 0 6px;
  border: 1px solid #ccc;
  border-radius: 15px;
  line-height: 30px;
  text-align: center;
  color: #666;
  text-decoration: none;
  transition: all 0.5s;
}
#main #page-list a:hover {
  border: 1px solid #1296db;
  color: #1296db;
}
#main #page-list .prev,
#main #page-list .next {
  width: 70px;
}
#main #page-list span {
  padding: 4px;
  margin: 0 6px;
}
#main .archive-date {
  font-size: 20px;
  color: #555;
}
#main .archive-item {
  display: flex;
  margin: 10px 0 10px 60px;
}
#main .archive-item .archive-item-date {
  width: 120px;
  flex-shrink: 0;
  color: #999;
}
#main .archive-item .archive-item-title {
  flex-grow: 1;
}
#main .archive-item .archive-item-title a {
  color: #777;
  text-decoration: none;
  transition: 0.3s;
}
#main .archive-item .archive-item-title a:hover {
  color: #1296db;
}
#post .post-header {
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
}
#post .post-header .post-title {
  padding: 0 40px;
  text-align: center;
  font-size: 24px;
  margin-bottom: 40px;
}
#post .post-header .post-meta {
  margin-bottom: 0;
}
#post .post-footer {
  margin-top: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
#post .post-footer .footer-post-tags {
  margin-bottom: 30px;
}
#post .post-footer .copyright-desc {
  text-align: center;
  margin-bottom: 30px;
  color: #999;
}
#post .post-footer .copyright-desc div {
  margin-bottom: 10px;
}
#post .post-footer .copyright-desc a {
  color: #999;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
#post .post-footer .copyright-desc a:hover {
  color: #1296db;
}
#post .post-footer .article-tip {
  text-align: center;
  margin-bottom: 30px;
  color: #999;
}
#post .post-footer .article-tip .tip-btn {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-top: 10px;
  line-height: 60px;
  background-color: #1296db;
  color: #fff;
  font-size: 24px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
#post .post-footer .article-tip .tip-btn:hover {
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
#post .post-footer .tip-method {
  width: 100%;
  margin: 0 auto;
  font-size: 0;
}
#post .post-footer .tip-method .tip-method-item {
  display: inline-block;
  vertical-align: bottom;
  padding: 20px;
}
#post .post-footer .tip-method .tip-method-item div {
  font-size: 12px;
  color: #666;
  margin-top: 10px;
}
#post .post-footer .tip-method img {
  width: 180px;
}
#post .post-footer .near-article {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  justify-content: space-between;
}
#post .post-footer .near-article .near-article-item {
  color: #666;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
#post .post-footer .near-article .near-article-item:hover {
  color: #1296db;
}
#post .post-footer .pinglun-tips {
  margin-top: 40px;
  color: #999;
  font-size: 12px;
}
#post .post-footer .foot-share {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  margin-top: 30px;
  align-items: center;
}
.markdown-body img {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
#toolbar {
  display: inline-block;
  width: 25%;
  padding-left: 40px;
  padding-top: 30px;
  font-size: 14px;
  vertical-align: top;
  box-sizing: border-box;
}
#toolbar ol,
#toolbar ul,
#toolbar li {
  list-style: none;
}
#toolbar .widget-item {
  margin-bottom: 50px;
}
#toolbar .search-block {
  position: relative;
  width: 100%;
  display: inline-block;
}
#toolbar .search-block .search-input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: none;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
}
#toolbar .search-block .search-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: inline-block;
  height: 1px;
  background-color: #ccc;
}
#toolbar .search-block .search-transition-line {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 2px;
  width: 100%;
  background-color: #1296db;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
}
#toolbar .search-block .focus {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
#toolbar .search-block .icon-sousuo_sousuo {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  color: #666;
}
#toolbar #search-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#toolbar #search-result {
  position: absolute;
  width: 140%;
  right: -20px;
  top: 42px;
  padding: 20px;
  border: 1px solid #1296db;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 4px 4px 6px #ccc;
}
#toolbar #search-result:before {
  content: '';
  position: absolute;
  display: inline-block;
  border-width: 0 12px 12px 12px;
  border-style: solid;
  border-color: #1296db transparent;
  left: 40%;
  top: -12px;
}
#toolbar #search-result:after {
  content: '';
  position: absolute;
  display: inline-block;
  border-width: 0 12px 12px 12px;
  border-style: solid;
  border-color: #fff transparent;
  left: 40%;
  top: -11px;
}
#toolbar .search-result-content {
  max-height: 400px;
  overflow-y: auto;
  padding-right: 20px;
  margin-right: -20px;
}
#toolbar .search-result-content .tips {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  padding: 20px 0;
  color: #999;
  align-items: center;
  justify-content: center;
}
#toolbar .search-result-content .tips .iconfont {
  margin-right: 10px;
  font-size: 32px;
}
#toolbar .search-result-item {
  padding: 6px 0;
  border-bottom: 1px solid #ccc;
}
#toolbar .search-result-item:last-child {
  border-bottom: none;
}
#toolbar .search-result-item:first-child {
  padding-top: 0;
}
#toolbar .search-result-item a {
  color: #666;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
#toolbar .search-result-item a:hover {
  color: #1296db;
}
#toolbar .search-result-item .item-title {
  margin-bottom: 4px;
}
#toolbar .search-result-item .item-date {
  margin-bottom: 4px;
  text-align: right;
  font-size: 12px;
}
#toolbar .search-result-item .tags div {
  display: inline-block;
  margin-right: 4px;
  font-size: 12px;
}
#toolbar .search-result-item .tags div:last-child {
  margin-right: 0;
}
#toolbar .widget-title {
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  color: #1296db;
  font-weight: normal;
}
#toolbar .widget-title .iconfont {
  font-size: 18px;
}
#toolbar .widget li {
  padding: 4px 0;
}
#toolbar .widget a {
  color: #666;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
#toolbar .widget a:hover {
  color: #1296db;
}
#toolbar .widget .category-list-count,
#toolbar .widget .tag-list-count,
#toolbar .widget .archive-list-count {
  color: #1296db;
}
#toolbar .widget .category-list-count:before,
#toolbar .widget .tag-list-count:before,
#toolbar .widget .archive-list-count:before {
  content: '（';
}
#toolbar .widget .category-list-count:after,
#toolbar .widget .tag-list-count:after,
#toolbar .widget .archive-list-count:after {
  content: '）';
}
#toolbar .post-toc {
  background: #fbfbfb;
}
#toolbar .post-toc .toc {
  max-height: 500px;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}
#toolbar .post-toc .toc a:visited {
  color: #aaa;
}
#toolbar .post-toc .toc ol {
  padding-left: 20px;
}
#toolbar .widget-item.fixed {
  max-width: 250px;
}
#toolbar .tagcloud a {
  margin-right: 10px;
}
#footer {
  padding: 40px 0;
  text-align: center;
  font-size: 12px;
}
#footer .footer-count {
  margin-bottom: 10px;
}
#footer .footer-info p {
  display: inline-block;
  margin-right: 20px;
}
#footer .footer-info a {
  color: #1296db;
  text-decoration: none;
}
#footer .footer-info a:hover {
  text-decoration: underline;
}
#to-top {
  position: fixed;
  display: none;
  right: 40px;
  bottom: 80px;
}
#to-top .to-top-content {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 36px;
  border: 1px solid #999;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  color: #999;
  -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
  -ms-transition: all 0.45s;
  transition: all 0.45s;
}
#to-top .to-top-content:hover {
  color: #fff;
  border: 1px solid #1296db;
}
#to-top .to-top-content .iconfont {
  font-size: 24px;
}
#to-top .to-top-content .to-top-bg {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #1296db;
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: -100;
}
#to-top .to-top-content .focus {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
#about .about-block {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  width: 500px;
  align-items: center;
  margin: 40px auto;
}
#about .about-block .about-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  flex-shrink: 0;
}
#about .about-block .about-info {
  flex-grow: 1;
  margin-left: 50px;
}
#about .about-block .about-info .about-info-item {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  margin-bottom: 14px;
}
#about .about-block .about-info .about-info-item .about-info-item-label {
  width: 80px;
  flex-shrink: 0;
}
#about .about-block .about-info .about-info-item .about-info-item-txt {
  flex-grow: 1;
}
#about .about-block .about-info .about-info-item .about-href {
  color: #666;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
#about .about-block .about-info .about-info-item .about-href:hover {
  color: #1296db;
}
@media screen and (max-width: 900px) {
  #about .about-block {
    display: block;
    width: auto;
  }
  #about .about-block .about-photo {
    display: block;
    margin: 0 auto;
  }
  #about .about-block .about-info {
    margin-left: 0;
    margin-top: 30px;
  }
}
@media screen and (max-width: 700px) {
  .header-top .header-site {
    display: none;
  }
  .header-desc .header-desc-right {
    display: block;
  }
  .header-site {
    left: 20px;
  }
  .header-site .header-site-item {
    padding: 10px;
  }
  .header-nav {
    right: 20px;
  }
  .nav-item {
    padding: 10px 14px;
  }
  #main {
    width: 100%;
    padding-right: 0;
    border-right: none;
  }
  #main .post {
    padding: 10px;
  }
  #main #page-list .page-number,
  #main #page-list .space {
    display: none;
  }
  #main .archive-item {
    margin: 10px 0;
  }
  #container {
    padding: 0 20px;
  }
  #container .main-right {
    padding-left: 0;
    border-left: none;
  }
  #container .toolbar-left {
    display: none;
  }
  #toolbar {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  #to-top .to-top-content {
    display: none;
  }
  #toolbar .search-block #search-result {
    width: 100%;
    right: 0;
    box-sizing: border-box;
  }
  #toolbar .search-block #search-result:before,
  #toolbar .search-block #search-result:after {
    left: 20px;
  }
  #toolbar .widget-item {
    margin-bottom: 20px;
  }
  #toolbar #post-toc {
    display: none;
  }
  #post .post-header .post-title {
    font-size: 18px;
  }
  #post .post-footer .near-article {
    display: block;
  }
  #post .post-footer .near-article a {
    display: block;
    margin-bottom: 10px;
  }
}
